<div class="container">
    <h1>Sign Up</h1>
    <div class="">
        <form class="" action="/signup" method="post">
            <div class="">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="">
                <input type="password" name="password" placeholder="Password">
                <select name="type" class="form-control">
                  <option>user</option>
                  <option>admin</option>
                </select>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
