<div class="container">
  <pre>
    <%- patient %>
  </pre>

  <form class="" action="../consultation/new" method="get">
    <button type="submit" name="id" value="<%- patient.id %>">CLICK ME PLEASE</button>
  </form>

</div>
