<div class="container">
    <h1>Log In</h1>
    <div class="">
        <form class="" action="/login" method="post">
            <div class="">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="">
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>
